body
{ background-color: #dfd4c8;
  font: 12px/1.2 Verdana, Arial, Helvetica, sans-serif;
  height:100%;
  margin:0;
  padding:0;
}

header
{ background-color: #857776; }

header .Header
{ width:1500px;
  margin:0px auto;
}


header .Menu
{ font:15px Century Gothic;
  float:right;
  list-style-type: none;
}


header .Menu li
{ float: left; margin-top: 12px;}

header .Menu li a
{ padding:0 10px;
  text-decoration: none;
  color: #FFFDFC;
 }

.logo {
    width: 60px;
    cursor: pointer;
    align-items: left;
    margin-top: 20px;
  }
  
header .Menu li:hover a
{ color: #DFD4C8; }

.clear { clear: both; }