.register-form {
    color: white;
    width: 360px;
    height: 380px;
    margin: auto;
    margin-top: 50px;
    background-color: #dbd1c1;
    border: 2px solid black;
    color: black;
}

.register-form h1 {
  text-align: center;
}


.register-form h4 {
  text-align: center;
}


.register-form-form {
    width: 300px;
    margin-left: 15px;
}

.register-form-label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

.register-form-input {
    width: 320px;
    height: 30px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
}

.register-form input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 30px;
    background-color: #857776;
    margin-left: 5px;
    color: white;
    font-size: 15px;
}

input[type="submit"]:hover{
  cursor: pointer;
}

.register-form p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}

.no-acc {
  color: black;
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
}

.anchr{
  text-align: right;
  font-size: 15px;
  margin-left: 5px;
  color: #857776;
}

.no-acc-box {
  color: white;
  width: 330px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  background-color: #dbd1c1;
  border: 2px solid black;
  color: black;
}
.error-message {
  display: block;
  animation: cssAnimation 0s ease-in 3s forwards;
  background-color: #ff4c4c;
  color: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
@keyframes cssAnimation {
  to {
      display: none;
  }
}

.error-container {
  position: fixed;
  top: 1em;
  right: 51em;
  width: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}